# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Emacs Autosave
*~

#undesirables
巴朗3500 SAT词汇.pdf
词汇整理Tips.txt
词汇整理（小托福&托福&SAT）190622.docx